.toast{

position:fixed;

left:50%;

bottom:25px;

transform:translateX(-50%);

background:#222;

color:#fff;

padding:12px 18px;

border-radius:10px;

font-size:14px;

opacity:0;

transition:.3s;

z-index:99999;

pointer-events:none;

}

.toast.show{

opacity:1;

bottom:40px;

}